.cta-section {
	.btn {
		margin-top: 30px;
	}
	.default-content {
		max-width: 670px;
		margin: 0 auto;
	}
}
.cta-section-left {
	text-align: left !important;
	.default-content {
		max-width: 100%;
		h3, .h3{
			max-width: 60%;
			@include media-breakpoint-down(lg) {
				max-width: 70%;
			}
			@include media-breakpoint-down(sm) {
				max-width: 100%;
			}
		}
	}
}

.white-bg {
	background: #fff;
}

.title-purple{
	color: #b665a8;
}
.title-white{
	color: #fff;
}
.title-yellow{
	color: #F7A800;
}
.title-blue{
	color: #333b61;
}