.image-text-grid-section {
	padding: 100px 0;
	@include media-breakpoint-down(sm) {
		padding: 40px 0 25px;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-family: $font-avenir-lt;
		font-weight: $font-weight-heavy;
	}
	img {
		width: 100%;
		margin-bottom: 15px;
		height: 230px;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: top;
		object-position: top;
	}
	p {
		max-width: 350px;
	}
	a {
		text-decoration: none;
		display: block;
  		padding: 0 10px;
  		margin-bottom: 40px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 15px;
		}
	}
}
