.playbook-header-wrap{
    display: flex;
    justify-content:space-between;
    padding:5px 0 15px;
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
    .header-btn-group {
        max-width: 530px;
        width:100%;
        text-align: right;
        @include media-breakpoint-down(lg) {
           a {
                font-size: 14px;
                padding: 10px 15px;
            }
        }
        @include media-breakpoint-down(md) {
            text-align:center;
            margin-top:15px;
        }
    }
}

.playbook-section {
    margin: 50px 0;

    h2 {
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    @include media-breakpoint-down(lg) {
        margin: 40px 0;
    }

    aside {
        position: sticky;
        top: 122px;
        height: 100%;
        border-right: 1px solid $lightgray;

        @include media-breakpoint-down(md) {
            position: unset;
        }

        .aside-inner-wrap {
            height: 83vh;
            overflow-y: scroll;

            @include media-breakpoint-down(sm) {
                height: auto;
            }

            .menu {
                list-style-type: none;
                padding-left: 0;

                >.menu-item {
                    margin: 0 0 25px 0;

                    >a {
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin-left: 10px;
                        font-size: 14px;
                        padding-bottom: 8px;
                        display: block;
                    }

                    .sub-menu {
                        list-style: none;
                        padding-left: 0;
                        margin-left: 0;

                        a {
                            padding: 10px 0 10px 5px;                           
                            font-size: 15px;
                            display:flex;
                            @include transition(all 0.4s ease-in-out);                          

                            &:hover {
                                background: $lightgray;

                                span{
                                    opacity:1;
                                }
                            }           
                            .after-menu-image-icons{
                                opacity: 0.5;
                            }               
                        }
                    }
                    &.current-menu-ancestor .current-menu-item a {
                        background: $lightgray;
                        span{
                            opacity:1;
                        }
                    }
                }
            }
        }
    }

    .aside-inner-wrap::-webkit-scrollbar {
        display: none;
    }

    .aside-inner-wrap {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .playbook-editor {
        border-left: 1px solid $lightgray;
        padding: 0 15%;

        @include media-breakpoint-down(lg) {
            padding: 0 5%;
        }

        @include media-breakpoint-down(md) {
            margin-top: 15px;
            border: 0;
            border-top: 1px solid #f1f1f1;
            padding-top: 25px;
        }

        ul {
            margin-bottom: 40px;
        }

        iframe {
            width: 100%;
            height: 320px;
            margin: 15px 0px;
        }
    }

    .next-prve-wrap {
        @include media-breakpoint-down(lg) {
            align-items: stretch;
            padding:0 7px;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;

        .comman-direction {
            @include media-breakpoint-down(lg) {
                padding:24px;
                align-items: stretch;
            }
            
            padding: 30px;
            @include transition(all 0.4s ease-in-out);
            border: 1px solid $lightgray;
            border-radius: 30px;
            flex: 0 0 35%;

            @include media-breakpoint-down(md) {
                flex: 0 0 49%;
            }

            margin: 0 8px;

            span {
                font-weight: 700;
                font-size: 20px;
            }

            small {
                display: block;
            }

            &:hover {
                background: $lightgray;
            }
        }
    }
}

.page-template-our-playbook {
    header {
        padding: 10px 0 15px;
        border-bottom: 1px solid #ccc;

        .navbar {
            .navbar-toggler {
                display: none;
            }
        }

        .header-top {
            .my-account {
                margin-right: 15px;
                position: relative;
                top: 18px;
            }
        }

        .offcanvas {
            display: none;
        }
    }
}

.playbook-editor{
    blockquote {
        background-color: #f6f6f6;
        padding: 15px;
    }
}