.service-icon-section {
	margin: 100px 0 100px;
	@include media-breakpoint-down(md) {
		margin: 50px 0 50px;
	}
	&.bg {
		padding: 100px 0 100px;
		@include media-breakpoint-down(md) {
			margin: 50px 0 50px;
		}
	}
	.default-content {
		padding: 0 23%;
		margin-bottom: 50px;
		@include media-breakpoint-down(lg) {
			padding: 0;
		}
	}
	.icon {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h4 {
		font-size: 1.8rem;
		font-weight: bold;
	}
	.icons-inner {
		max-width: 850px;
		margin: 0 auto;
		a{
			&:hover{
				h4, .h4{
					color: #b665a8;
				}
			}
		}
	}
}
